<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWxZA-m0Rhhx8HxBTqeXaQNVbiPg9Np1M</string>
	<key>GCM_SENDER_ID</key>
	<string>683032100517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.machinetask</string>
	<key>PROJECT_ID</key>
	<string>machinetask-138a2</string>
	<key>STORAGE_BUCKET</key>
	<string>machinetask-138a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683032100517:ios:dcf07f4ca27ff929b7174c</string>
</dict>
</plist>